p{
    color: coral;
    text-align: right;

}
.h{
    color: rgb(0, 17, 255);
    border: 2px solid rgb(255, 0, 0);
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 30%;
    background-color: grey;

}
#header3{
    color: crimson;
}

span {
    color: black;
    display: block;
    display: inline;
}
a{
    display: block;
}


/* @media (min-width: 250px) and (max-width: 699px){
    body{
       background-color: red;
    }
    
.h{
        border: 2px solid rgb(0, 17, 255);
           display: inline-block;
               width: 100%;
}
} 
        

@media (min-width: 700px)and (max-width: 999px) {
     body{
        background-color: blue;
     }
.h{
        display: inline;
               width: 30%;
               color: azure;
    }
}

@media (min-width: 1000px) {
    body{
        background-color: green;
    }
   
} */